JOB minimap2 minimap2.submit
VARS minimap2 RUN="${run}" 
VARS minimap2 REF= "${ref}"

JOB samtools samtools.submit
VARS samtools RUN="${run}"

JOB bamqc bamqc.submit
VARS bamqc RUN="${run}"

JOB nanoCaller nanoCaller.submit
VARS nanoCaller RUN="${run}"
VARS nanoCaller REF= "${ref}"

JOB vcf-annotator vcf-annotator.submit
VARS vcf-annotator RUN= "${run}"
VARS vcf-annotator REF= "${ref}"

PARENT minimap2 CHILD samtools
PARENT samtools CHILD bamqc
PARENT bamqc CHILD nanoCaller
PARENT nanoCaller CHILD vcf-annotator
